.Login(ng-init="isNewRegistration = false")
    form.Login.form-horizontal.form-wrap(role='form')
        //CSRF
        .login
            h3 Login
            .form-group
                label.col-sm-2.control-label(for="email") E-Mail
                .col-sm-10
                    .input-group
                        input.form-control.input-lg(
                            id="email"
                            type="email"
                            placeholder="username@example.com"
                            ng-model="auth.user.username"
                        )
                        span.input-group-addon.social-logins
                            div(google-button)
                            div(facebook-button)
            .form-group
                label.col-sm-2.control-label(for="password") Password
                .col-sm-10
                    input.form-control.input-lg(
                        id="password"
                        type="password"
                        placeholder="password"
                            ng-model="auth.user.password"
                    )
            .row
                .col-md-3
                    button.btn.btn-primary(
                        type="button"
                    ) {{ isNewRegistration ? 'Register' : 'Login' }}
                .col-md-offset-6.col-md-3.control-label
                    a(
                        ui-sref="login"
                        ng-click="isNewRegistration = !isNewRegistration"
                    ) {{ isNewRegistration ? 'Login' : 'Register' }}
        .register(
            ng-show="isNewRegistration"
        )
            hr
            h4 Register
            .form-group
                label.col-sm-2.control-label(for="confirm") Confirm
                .col-sm-10
                    input.form-control.input-lg(
                        id="confirm"
                        type="password"
                        placeholder="password"
                        ng-model="confirmPassword"
                    )
            password-strength
            .form-group
                label.col-sm-2.control-label(for="name") Name
                .col-sm-10
                    input.form-control.input-lg(
                        id="name"
                        type="text"
                        placeholder="Full Name"
                        ng-model="auth.user.password"
                    )
